# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\woo\intelliJProject\modern-java-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
